:root {
    --font-heading: "Sen", "san-serif";
    --primary: #0ac4de;
    --secondary: #44576d;
}

.register-block {
    display: flex;
    margin-top: 75px;
    background: transparent;

    border-radius: 5px;
}
.register-image {
    width: 50%;
}
.register-image .images-res {
}

.form-content {
    margin-left: auto;
}
.form-content .create {
    color: rgba(0, 0, 0, 0.9);
    font-size: 24px;
    font-weight: 600;
}

.form-content .create span {
    color: var(--primary);
}
.form-content .social-link {
    margin-top: 29px;
    display: flex;
    align-items: center;
    gap: 0 56px;
}
.form-content .social-link .btn-social {
    width: 250px;
    height: 62px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-content .social-link .btn-social span {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.form-content .or-register {
    margin-top: 43px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    font-weight: 400;
}

.form-content .form {
    margin-top: 50px;
}

.form-content .form .enter {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}
.form .enter label {
    margin-bottom: 5px;
    font-weight: 500;
}
.form .enter input {
    height: 55px;
    border-radius: 8px;
    border: 1px solid #a7bcc9;
    background: transparent;
    padding-left: 10px;
}
.form .enter input::placeholder {
    font-size: 14px;
}
.form .enter input:focus {
    outline: none;
    border: 1px solid var(--secondary);
}
.form .enter.password {
    position: relative;
}
.form .enter.password .toggle-password {
    cursor: pointer;
    width: 20px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.form .btn.submit {
    border-radius: 999px;
    width: 100%;
    height: 50px;
}

.switch-account {
    margin-top: 50px;
}
.switch-account a {
    color: var(--primary);
}
.btn.back-home {
    margin-top: 38px;
    width: 132px;
    height: 34px;
}
.btn.back-home span {
    font-size: 12px;
    font-weight: 400;
}
.btn.back-home i {
    font-size: 12px;
    margin-right: 4px;
}
