* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
:root {
    --font-heading: "Sen", "san-serif";
    --primary: #0ac4de;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.btn {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 110px;
    height: 50px;
    border-radius: 999px;
    background: #171100;
}
