<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lukasport</title>
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/" />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="./assets/favicon//apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="./assets/favicon//apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="./assets/favicon//apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="./assets/favicon//apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="./assets/favicon//apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="./assets/favicon//apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="./assets/favicon//apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="./assets/favicon//apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="./assets/favicon//android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./assets/favicon//favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="./assets/favicon//favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="./assets/favicon//favicon-16x16.png"
        />
        <link rel="manifest" href="./assets/favicon//manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="./assets/favicon/ms-icon-144x144.png"
        />
        <meta name="theme-color" content="#ffffff" />
        <!-- reset css -->
        <link rel="stylesheet" href="./assets/css/reset.css" />
        <!-- styles css -->
        <link rel="stylesheet" href="./assets/css/styles.css" />
        <link rel="stylesheet" href="./assets/css/product.css" />

        <!-- embed font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&family=Sen:wght@400..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <main>
            <!-- Header -->
            <header class="header fixed">
                <div class="main-content">
                    <div class="body">
                        <img
                            src="./assets/icons/logo.svg"
                            alt="lukasport"
                            class="logo"
                        />
                        <nav class="nav">
                            <ul>
                                <li>
                                    <a href="#!">Home</a>
                                </li>
                                <li class="active">
                                    <a href="#!">Shop</a>
                                </li>
                                <li>
                                    <a href="#!">Service</a>
                                </li>
                                <li>
                                    <a href="#!">Blog</a>
                                </li>
                                <li>
                                    <a href="#!">About Us</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="action">
                            <button class="btn resgister">Register</button>
                            <button class="btn login">Login</button>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Slides -->
            <div class="slides low">
                <div class="slide-item">
                    <img
                        src="./assets/img/slide1.avif"
                        alt="slide1"
                        class="slide-img high"
                    />

                    <div class="dots">
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <!-- item2 -->
                <div class="slide-item hidden">
                    <img
                        src="./assets/img/slide2.avif"
                        alt="slide2"
                        class="slide-img high"
                    />

                    <div class="dots">
                        <span class="dot"></span>
                        <span class="dot active"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <!-- item3 -->
                <div class="slide-item hidden">
                    <img
                        src="./assets/img/slide3.avif"
                        alt="slide3"
                        class="slide-img high"
                    />

                    <div class="dots">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot active"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <!-- item4 -->
                <div class="slide-item hidden">
                    <img
                        src="./assets/img/slide4.avif"
                        alt="slide4"
                        class="slide-img high"
                    />

                    <div class="dots">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot active"></span>
                    </div>
                </div>

                <script>
                    // Lấy danh sách các phần tử
                    const items = document.querySelectorAll(".slide-item");
                    let currentIndex = 0;

                    // Hàm trượt qua các phần tử
                    function slideNext() {
                        // Ẩn phần tử hiện tại
                        items[currentIndex].classList.add("hidden");

                        // Tăng chỉ số
                        currentIndex++;

                        // Nếu đã đến cuối danh sách, quay lại phần tử đầu tiên
                        if (currentIndex === items.length) {
                            currentIndex = 0;
                        }

                        // Hiển thị phần tử tiếp theo
                        items[currentIndex].classList.remove("hidden");
                    }

                    // Trượt qua các phần tử sau mỗi 0.3 giây
                    const intervalId = setInterval(slideNext, 2000);
                </script>
            </div>

            <!-- Product-filter -->
            <div class="product">
                <div class="main-content">
                    <div class="body">
                        <nav class="nav-filter">
                            <h3 class="filter-name heading lv2">Filter</h3>
                            <div class="price">
                                <h4 class="sort price-name">Price</h4>
                                <div class="price-rate">
                                    <span class="price-rating">From</span>
                                    <span class="price-money">$0</span>
                                    <span class="price-rating">To</span>
                                    <span class="price-money">$12</span>
                                </div>
                                <div class="separate"></div>
                            </div>

                            <div class="brand">
                                <div class="brand-row">
                                    <h4 class="sort brand-name">Brand</h4>
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>

                                <div class="brand-search">
                                    <p>Name of brand</p>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <ul class="brand-list">
                                    <li class="brand-item">
                                        <input type="checkbox" />
                                        <span class="brand-item-name"
                                            >Nike</span
                                        >
                                    </li>
                                    <li class="brand-item">
                                        <input type="checkbox" />
                                        <span class="brand-item-name"
                                            >Adidas</span
                                        >
                                    </li>
                                    <li class="brand-item">
                                        <input type="checkbox" />
                                        <span class="brand-item-name"
                                            >Puma</span
                                        >
                                    </li>
                                    <li class="brand-item">
                                        <input type="checkbox" />
                                        <span class="brand-item-name"
                                            >New balance</span
                                        >
                                    </li>
                                </ul>
                                <div class="separate"></div>
                            </div>
                            <div class="sport">
                                <div class="sport-row">
                                    <h4 class="sort sport-name">Sport</h4>
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>
                                <ul class="sport-list">
                                    <li class="sport-item">
                                        <input type="checkbox" />
                                        <span class="sport-item-name"
                                            >Basketball</span
                                        >
                                    </li>
                                    <li class="sport-item">
                                        <input type="checkbox" />
                                        <span class="sport-item-name"
                                            >Running</span
                                        >
                                    </li>
                                    <li class="sport-item">
                                        <input type="checkbox" />
                                        <span class="sport-item-name"
                                            >Football</span
                                        >
                                    </li>
                                    <li class="sport-item">
                                        <input type="checkbox" />
                                        <span class="sport-item-name"
                                            >Tennis</span
                                        >
                                    </li>
                                    <li class="sport-item">
                                        <input type="checkbox" />
                                        <span class="sport-item-name"
                                            >Workout</span
                                        >
                                    </li>
                                </ul>
                                <div class="separate"></div>
                            </div>
                            <div class="color">
                                <div class="color-row">
                                    <h4 class="sort color-name">Color</h4>
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>
                                <div class="color-block">
                                    <div
                                        class="color-group"
                                        style="background-color: #63cdef"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: #ff6f07"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: red"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: purple"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: blue"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: violet"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: grey"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="
                                            background-color: rgb(17, 17, 17);
                                        "
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: orangered"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: olivedrab"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: green"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: pink"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: palevioletred"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: yellow"
                                    ></div>
                                    <div
                                        class="color-group"
                                        style="background-color: white"
                                    ></div>
                                </div>
                                <div class="separate"></div>
                            </div>
                            <div class="order-items">
                                <div class="order-row">
                                    <h4 class="sort order-items-name">
                                        Order items
                                    </h4>
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>
                                <div class="separate"></div>
                            </div>
                            <div class="special-features">
                                <div class="special-features-row">
                                    <h4 class="sort special-features-name">
                                        Special features
                                    </h4>
                                    <i class="fa-solid fa-angle-down"></i>
                                </div>
                                <div class="separate"></div>
                            </div>
                        </nav>

                        <!-- product-block -->
                        <div class="product-block">
                            <h2 class="product-name">Football clothing</h2>
                            <span class="product-results">Show 35 results</span>
                            <div class="product-sort-block">
                                <div class="product-sort-box">
                                    <span class="box-name">Price:</span>
                                    <span class="box-result">$0-120</span
                                    ><i class="close fa-solid fa-xmark"></i>
                                </div>
                                <div class="product-sort-box">
                                    <span class="box-name">Price:</span>
                                    <span class="box-result">$0-120</span
                                    ><i class="close fa-solid fa-xmark"></i>
                                </div>
                                <span class="product-sort-clear"
                                    >Clear all filters</span
                                >
                                <span class="product-sort-by">Sort by:</span>
                                <div class="product-sort-box">
                                    <span class="box-result">Relevancy</span
                                    ><i class="fa-solid fa-angle-down"></i>
                                </div>
                            </div>

                            <div class="product-list">
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-1.png"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-2.png"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <img
                                        src="./assets/img/new-3.jpg"
                                        alt="new 1"
                                        class="image"
                                    />

                                    <h3 class="name">
                                        ARGENTINA 23 HOME JERSEY
                                    </h3>

                                    <div class="foot">
                                        <span class="price">$120.75</span>
                                        <button class="btn view">View</button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn product-loading">
                                <span>Load more</span
                                ><i class="fa-solid fa-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="main-content">
                <div class="body">
                    <div class="social">
                        <img
                            src="./assets/icons/logo2.svg"
                            alt=""
                            class="logo"
                        />

                        <p class="desc">
                            "Never give up, keep pushing forward. Believe in
                            yourself and your abilities!"
                        </p>
                        <div class="social-link">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    <div class="info">
                        <h4 class="head">Store</h4>
                        <ul class="info-cate">
                            <li>About Us</li>
                            <li>Features</li>
                            <li>Our Pricing</li>
                            <li>Latest News</li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4 class="head">Support</h4>
                        <ul class="info-cate">
                            <li><a href="#!">FAQ’s</a></li>
                            <li>Terms & Conditions</li>
                            <li>Privacy Policy</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4 class="head">Address</h4>
                        <ul class="info-cate">
                            <li>
                                <address>
                                    <span class="contact">Location: </span> 27
                                    To Ki St, 12 District, Ho Chi Minh City
                                </address>
                            </li>
                            <li>
                                <a href="mailto:example@example.com">
                                    <span class="contact"> Email: </span
                                    >lukasport@gmail.com</a
                                >
                            </li>
                            <li>
                                <a href="tel:+1234567890"
                                    ><span class="contact">Phone: </span
                                    >0378585203</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
